<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义sql文件的唯一标示  通过namespace这个标示 找到这个xml文件 -->
<mapper namespace="com.po.commentDao">
	<!--增  -->
	<insert id="addComment" parameterType="com.po.Comment">
		INSERT INTO comments(comment_id,topic_type,topic_id,to_cid,from_uid,comment_date,content,like_sum,is_reported) VALUES(NULL,#{topicType},#{topicId},0 ,#{fromUid},#{commentDate},#{content},0,0);
	</insert>
	<!-- 删 -->
	<delete id="deleteCommentByCommentId" parameterType="int">
		DELETE FROM comments WHERE comment_id=#{commentId};
	</delete>
	<!-- 点赞人数 -->
	<update id="updateCommentById" parameterType="int">
		UPDATE comments SET like_sum=#{likeSum} WHERE comment_id =#{commentId};
	</update>
	
	<!-- 查1 -->
	<select id="getCommentById" parameterType="int" resultType="com.po.Comment">
		SELECT * FROM comments WHERE  comment_id = #{commentId};
	</select>
	
	<!-- 查 按照sql语句 -->
	<select id="getCommentBySql" parameterType="java.lang.String" resultType="com.po.Comment">
		${value}
	</select>
	<!-- 改动评论  举报  点赞   回复再回复(属于update范畴 待定)-->
</mapper>