<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义sql文件的唯一标示  通过namespace这个标示 找到这个xml文件 -->
<mapper namespace="com.po.UserMapper">
	
	<insert id="addUser" parameterType="com.po.User">
		INSERT INTO users(user_id,nickname,email,password_MD5) VALUE(NULL,#{nickname},#{email},#{passwordMD5})
	</insert>
	
</mapper>