<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义sql文件的唯一标示  通过namespace这个标示 找到这个xml文件 -->
<mapper namespace="com.dao.AlbumDao">
	
	<insert id="addAlbum" parameterType="com.po.Album">
		INSERT INTO album VALUE(NULL,#{hotelId},#{musicId});
	</insert>
	
	<delete id="deleteAlbum" parameterType="int">
		DELETE FROM album WHERE hotel_id=#{hotelId}
	</delete>
	
	<delete id="deleteOneAlbum" parameterType="com.po.Album">
		DELETE FROM album WHERE hotel_id=#{hotelId} and music_id=#{musicId}
	</delete>
	
	<select id="getAlbumBySql" parameterType="java.lang.String" resultType="com.po.Album">
		${value}
	</select>
	
</mapper>