<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.HotelDao">

	<!-- 增加一个hotel -->
	<insert id="addHotel" parameterType="com.po.Hotel">
		INSERT INTO hotel VALUE(NULL,#{title},#{coverImg},#{likeSum},#{commentSum},#{userId},#{createDate},#{style},#{hotelDesc})
	</insert>

	<!-- 根据id删除hotel -->
	<delete id="deleteHotel" parameterType="int">
		DELETE FROM hotel WHERE hotel_id=#{hotelId}
	</delete>
	
	<!-- 修改hotel -->
	<update id="updateHotek" parameterType="com.po.Hotel">
		UPDATE hotel SET cover_img=#{coverImg} WHERE hotel_id=#{hotelId}
	</update>
	<!--根据id查一个-->
	<select id="getHotelById" parameterType="int" resultType="com.po.Hotel">
		SELECT * FROM hotel WHERE hotel_id=#{hotelId}
	</select>
	
	<!--根据sqly语句查-->
	<select id="getHotelBySql" parameterType="java.lang.String" resultType="com.po.Hotel">
		${value}
	</select>
	
	<!--查询总共有多少条记录-->
	<select id="getTotalRecordSum" parameterType="java.lang.String" resultType="int">
		${value}
	</select>
	
	<!--点收藏后 likeSum+1-->
	<update id="addLikeSum" parameterType="int">
		UPDATE hotel SET like_sum=like_sum+1 WHERE hotel_id=#{id}
	</update>
	
	<!--点收藏后 likeSum+1-->
	<update id="deleteLikeSum" parameterType="int">
		UPDATE hotel SET like_sum=like_sum-1 WHERE hotel_id=#{id}
	</update>
	
	<!--得到最大的hotelId-->
	<select id="getMaxHotelId" resultType="int">
		SELECT MAX(hotel_id) FROM hotel
	</select>
	
	<!--得到最小的hotelId-->
	<select id="getMinHotelId" resultType="int">
		SELECT MIN(hotel_id) FROM hotel
	</select>
</mapper>