<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义sql文件的唯一标示  通过namespace这个标示 找到这个xml文件 -->
<mapper namespace="com.dao.MusicDao">
	
	<insert id="addMusic" parameterType="com.po.Music">
		INSERT INTO music VALUE(NULL,#{titile},#{coverImg},#{artist},#{path},#{lyrics},#{size},#{timeLength},#{genre},#{album})
	</insert>
	
	<delete id="deleteMusic" parameterType="int">
		DELETE FROM music WHERE music_id=#{musicId}
	</delete>
	
	<select id="getMusicByMusicId" parameterType="java.lang.Integer" resultType="com.po.Music">
		SELECT * FROM music WHERE music_id=#{musicId}
	</select>
	
	<select id="getMusicBySql" parameterType="java.lang.String" resultType="com.po.Music">
		${value}
	</select>
	
</mapper>