<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义sql文件的唯一标示  通过namespace这个标示 找到这个xml文件 -->

<mapper namespace="com.dao.UserDao">
	
	<insert id="addUser" parameterType="com.po.User">
		INSERT INTO users(user_id,nickname,email,password_MD5) VALUE(NULL,#{nickname},#{email},#{passwordMD5})
	</insert>
	
	<delete id="deleteUserByUserId" parameterType="int">
		DELETE FROM users WHERE user_id=#{userId}
	</delete>
	
	<select id="getUserByUserId" parameterType="int" resultType="com.po.User">
		SELECT * FROM users WHERE user_id=#{userId}
	</select>
	
	<select id="getUserBySql" parameterType="java.lang.String" resultType="com.po.User">
		${value}
	</select>
	
</mapper>
